<style>
  .body{
    background-color: gainsboro;
  
  }
</style>
<div class="body">

<h2 style="text-align: center;">Add Address</h2>

<form method="post" action="/address/{{userid}}" class="container needs-validation" novalidate>

        <div class="row">

          <div class="mb-3">
            <label for="lastName">Name</label>
            <input type="text" name="name" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid name is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="address2">Mobile</label>
          <input type="number" name="mobile" class="form-control" id="mobile">
        </div>

      

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" name="house" class="form-control" id="address" placeholder="1234 Main St" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Appartment,suit,etc.</label>
          <input type="text" name="apartment" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="country">Landmark</label>
            <input type="text" name="landmark" class="form-control">
          </div>
          <div class="col-md-6 mb-3">
            <label for="country">District</label>
            <input type="text" name="district" class="form-control">
          </div>
          <div class="col-md-6 mb-3">
            <label for="state">PIN</label>
            <input type="number" name="pin" class="form-control">
          </div>
          <div class="col-md-6 mb-3">
            <label for="zip">State</label>
            <input type="text" name="state" class="form-control">
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
        </form>

</div>